.footer-big-container{width: 100%;display: flex;
flex-direction: column;}

.first-nav-footer{width: 100%;height: 320.94px;
background: #1D3766;
padding: 40px 150px 25px ;position: relative;
display: flex;flex-direction: column;align-items: center;
}

.first-box-footer{    width: 1146px;display: flex;flex-direction: row;
border-bottom: 1px solid #004A88;justify-content: space-between;;height: 198px;;}

.main-navigations-footer{display: flex;
flex-direction: row;}

.list-container-footer{display: flex;
flex-direction: column;width: 185px;
list-style-type: none;}

.logo-footer{width: 109px;
height: 33px;}

.footer-imgs-container{display: flex;
flex-direction: row;
gap: 33px;}

.footer-img-googleplay{width: 134px;
height: 40px;}

.footer-img-appstore{width: 118px;
height: 40px;}

.img-decoration1-footer{position: absolute;
bottom: 0;display: flex;
flex-direction: row;gap: 14px;
left: 0;}

.img-decoration-footer-2{position: absolute;
top: 0;right: 0;flex-direction: row;
gap: 11px;
display: flex;}

.part2-footer{display: flex;flex-direction: row;
margin-top: 24px;margin-bottom: 24px;
height: 57px;padding-left: 190px;}
