.footer-big-container{width: 100%;display: flex;
flex-direction: column;}

.first-nav-footer{width: 100%;height: 320.94px;
background: #1D3766;
padding: 40px 150px 25px ;
display: flex;flex-direction: column;align-items: center;
justify-content: center;}

.first-box-footer{    width: 1146px;
border-bottom: 1px solid #004A88;}

.main-navigations-footer{display: flex;
flex-direction: row;}

.list-container-footer{display: flex;gap: 23px;
flex-direction: column;
list-style-type: none;}