.headerr{width: 100%;
height: 67px;
background-color: #1858A8;
display: flex;
justify-content: center;position: fixed;
padding: 0 150px;
align-items: center;}

.list-navigation-bar{display: flex;
flex-direction: row;
gap: 30px;
align-items: center;
list-style-type: none;}

.main-nav-header{display: flex;
flex-direction: row;gap: 53px;
}

.navigation-text-header{color: #FFF;
font-family: Inter;
font-size: 14.9px;
font-weight: 600;
line-height: 14px; /* 93.96% */}

/* .navigation-text-link-header{color: #FFF;
font-family: Inter;
font-size: 14.9px;text-decoration: none;
font-weight: 600;
line-height: 14px; } */

.empty-div{width: 109px;
height: 33px;
flex-shrink: 0;}