.headerr{width: 100%;
height: 67px;
background-color: #1858A8;
display: flex;
justify-content: center;
align-items: center;}

.list-navigation-bar{display: flex;
flex-direction: row;
gap: 30px;
align-items: center;
list-style-type: none;}

.main-nav-header{display: flex;
flex-direction: row;
}