
.container-sec1 {
  width: 1146px;
  height: fit-content;
}

.header-sec1 {
  color: var(--color-white);
  font-family: Inter;
  font-size: 37.3px;
  font-weight: 700;
  padding-bottom: 24px;
  line-height: 48px;
}

.para-sec1 {
  color: var(--color-white);
  font-family: Inter;
  font-size: 23.1px;
  font-weight: 400;
  padding-bottom: 50px;
  line-height: 36px;
}