*{margin: 0;padding: 0;box-sizing: border-box;}


body{
    background-color: #FAFAFA;
    overflow-x: hidden;
}
.sec1{width: 100%;height: 100vh;
  background-image: url('../assets/pic1.png');
 background-size:120%;
  background-position: center;  object-fit: cover; 
  background-repeat: no-repeat;
padding: 0 150px;
display: flex;align-items: center;position: relative;
overflow: hidden;transition: all 1.4s ease;
justify-content: center;}


.sec1:hover {
   background-size: 128% 
}



.sec2{width: 100%;height: 87px;
background: #FFF;
box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
display: flex;
justify-content: center;
align-items: center;margin-top: 66px;
padding: 0 150px;}

.nav-sec2{width: 1146px;
    height: fit-content;
display: flex;
flex-direction: row;
gap: 30px;}

/* .navv-text-sec2{color: #333;
font-family: Inter;
font-size: 14.9px;
font-weight: 600;
line-height: 14px;} */

.sec3{width: 100%;
display: flex;
justify-content: center;
padding: 0 150px;padding-bottom: 75px;
margin-bottom: 75px;}

.container-sec3{width: 1146px;
    height: fit-content;display: flex;
flex-direction: column;margin-top: 60px;
}

.container-row-sec3{display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

gap: 30px;}

.cardsec3{display: flex;
width: 360.99px;
height: 133px;
padding: 0 0 0 20px;
align-items: flex-start;
gap: 30px;
flex-shrink: 0;border-radius: 6px;
border-top: 1px solid rgba(231, 231, 231, 0.60);
background: #FFF;
box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);
display: flex;align-items: center;
flex-direction: row;        padding: 30px 20px;}

.para-sec3-card{color: #1858A8;
font-family: Inter;
font-size: 20.8px;
font-weight: 700;
line-height: 26px; }



.card-big-sec4{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px ;
    padding: 50px 350px ;
}

.center-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec5-big-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 63px;
    padding: 30px 445px;
    margin-top: 150px;
    margin-bottom: 20px;
}

.container-cards-sec5{    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sec6-big-div{
     width: 100%;
    height: 680px;
    display: flex;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 75px 230px;
    background: #1858A8;
    margin-bottom: 75px;
}
.sec-vertical{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}
.card-big-sec7{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px ;
    padding: 50px 350px ;
}
.card-big-sec8{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px ;
    padding: 50px 350px ;
}
.card-big-sec9{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px ;
       padding: 50px 250px 75px;
}



