*{margin: 0;padding: 0;box-sizing: border-box;}



.sec1{width: 100%;height: 100vh;
  background-image: url('../assets/pic1.png');
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
padding: 0 150px;
display: flex;align-items: center;
justify-content: center;}

.sec2{width: 100%;height: 87px;
background: #FFF;
box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
display: flex;
justify-content: center;
align-items: center;
padding: 0 150px;}

.nav-sec2{width: 1146px;
    height: fit-content;
display: flex;
flex-direction: row;
gap: 30px;}

.navv-text-sec2{color: #333;
font-family: Inter;
font-size: 14.9px;
font-weight: 600;
line-height: 14px; /* 93.96% */}
