:root {
  --color-orange: #F58420;
  --color-blue: #1858A8;
  --color-blue-dark: #1D3766;
  --color-blue-dark-footer-hover: #142748;
  --color-blue-footer: #1D3766;
  --color-blue-footer-dark: #004A88;
  --color-white: #FFFFFF;
  --color-white2:#FAFAFA;

  --color-gray-dark: #333333;
  --color-gray-footer: #B8BABC;
  --color-gray-footer2: #7c7e80;
  --color-gray-light: rgba(231, 231, 231, 0.60);
  --color-gray-light-strong: rgba(231, 231, 231, 0.90);

  --color-gray-dark-alpha: #33333382;
  --color-shadow-soft: rgba(0, 0, 0, 0.10);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-light);
  overflow-x: hidden;
}


.sec1 {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/pic1.png');
  background-size: 120%;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  padding: 0 150px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 1.4s ease;
  justify-content: center;
}

.sec1:hover {
  background-size: 128%;
}


.sec2 {
  width: 100%;
  height: 87px;
  background: var(--color-white);
  box-shadow: 1px 1px 12px 0 var(--color-shadow-soft);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
  padding: 0 150px;
}

.nav-sec2 {
  width: 1146px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 30px;
}


.sec3 {
  width: 100%;
  display: flex;background-color: var(--color-white2);
  justify-content: center;
  padding: 0 150px 75px;
  margin-bottom: 75px;
}

.container-sec3 {
  width: 1146px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.container-row-sec3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cardsec3 {
  display: flex;
  width: 360.99px;
  height: 133px;
  padding: 30px 20px;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  border-radius: 6px;
  border-top: 1px solid var(--color-gray-light);
  background: var(--color-white);
  box-shadow: 0 1px 1px 2 var(--color-shadow-soft);
}

.para-sec3-card {
  color: var(--color-blue);
  font-family: Inter;
  font-size: 20.8px;
  font-weight: 700;
  line-height: 26px;
}


.card-big-sec4 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 350px;
}

.center-div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sec5-big-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 63px;
  padding: 75px 445px 75px;background-color: var(--color-white2);
  margin-top: 75px;

}

.container-cards-sec5 {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.sec6-big-div {
  width: 100%;
  height: 560px;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 75px 230px ;
  background: var(--color-blue);

}



.card-big-sec7 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 50px 350px;
}


.card-big-sec8 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 50px 350px;
}


.card-big-sec9 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 250px 0;
}


.sec-vertical {
  width: 100%;
  height: auto;
  display: flex;background-color: var(--color-white2);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 75px 0;
}

.sec-vertical2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 75px 0;
}

.sec5-container-vertically{display: flex;
flex-direction: column;align-items: center;
gap: 40px;}