*{margin: 0;padding: 0;box-sizing: border-box;}



.sec1{width: 100%;height: 100vh;
  background-image: url('../assets/pic1.png');
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
padding: 0 150px;
display: flex;align-items: center;
justify-content: center;}

.sec2{width: 100%;height: 87px;}
