.bigtitle-sec3 {
  color: var(--color-orange);
  font-family: Inter;
  font-size: 37.3px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease;
  line-height: 48px;
}

.bigtitle-sec3:hover {
  color: var(--color-blue);
}