.ctaa {
  display: inline-flex;
  height: 47px;
  padding: 15.5px 24.47px 17.5px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--color-blue);
  color: var(--color-white);
  font-family: Inter;
  border-color: transparent;
  font-size: 14.9px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  width: 159px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.ctaa:hover {
  background: var(--color-white);
  color: var(--color-blue);
  border-color: var(--color-blue);
  border-width: 1px;
  transform: translateY(-4px);
}