.ctaa{display: inline-flex;
height: 47px;
padding: 15.5px 24.47px 17.5px 24px;
justify-content: center;
align-items: center;border-radius: 6px;
background: #1858A8;
display: flex;
justify-content: center;
align-items: center;
color: #FFF;
font-family: Inter;border-color: transparent;
font-size: 14.9px;
font-style: normal;
font-weight: 600;
line-height: 14px; /* 93.96% */
  transition: all 0.3s ease,}


.ctaa:hover{
    background: #FFF;
    color: #1858A8;
    border-color:#1858A8 ;
    border-width: 1px ;transform: translateY(-4px) ;

}
