.cardsec3 {
  display: flex;
  width: 360.99px;
  height: 133px;
  padding: 30px 20px;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 6px;
  border-top: 1px solid var(--color-gray-light);
  background: var(--color-white);
  box-shadow: 0 1px 1px 2px var(--color-shadow-soft);
  flex-direction: row;
  cursor: pointer;
  margin-top: 50px;
  transition: all 0.3s ease;
}

.cardsec3:hover {
  width: 380px;
  height: 167px;
  border: 1px solid var(--color-blue);
}

.para-sec3-card {
  color: var(--color-blue);
  font-family: Inter;
  font-size: 20.8px;
  font-weight: 700;
  line-height: 26px;
}