.cardsec3{display: flex;
width: 360.99px;
height: 133px;
padding: 0 0 0 20px;
align-items: flex-start;
gap: 30px;
flex-shrink: 0;border-radius: 6px;
border-top: 1px solid rgba(231, 231, 231, 0.60);
background: #FFF;
box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);
display: flex;align-items: center;
flex-direction: row;        padding: 30px 20px;}

.para-sec3-card{color: #1858A8;
font-family: Inter;
font-size: 20.8px;
font-weight: 700;
line-height: 26px; /* 125% */}