.cardsec4{
    width:363px;
height: 437px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
gap: 20px;
    flex-shrink: 0;
    border-radius: 6px;
    border-top: 1px solid rgba(231, 231, 231, 0.60);
    background: #FFF;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);
    margin-bottom: 16px;cursor: pointer;transition: all 0.2s ease;
}


.cardsec4:hover{
    border: 1px solid #1858A8 ;    width: 390px;
    height: 436px;
}


.imgsec4{
   width: 100%;
}
.titlesec4{
   color: #1858A8;
font-family: Inter;
font-size: 20.8px;
font-style: normal;
font-weight: 700;
padding: 0 27px 0 20px;

line-height: 26px; /* 125% */ 
}
.subtitlesec4{
    color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
padding: 0 34px 0 20px;

line-height: 24px; /* 166.667% */
}
.btnsec4{
    color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: 10%;
text-underline-offset: auto;
text-underline-position: from-font;
margin-top: 30px;
padding: 0 20px;

}
