.cardsec4 {
  width: 363px;
  height: 437px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 6px;
  border-top: 1px solid var(--color-gray-light);
  background: var(--color-white);
  box-shadow: 0 1px 1px 2px var(--color-shadow-soft);
  margin-bottom: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.cardsec4:hover {
  border: 1px solid var(--color-blue);
  transform: scale(1.04);
}

.imgsec4 {
  width: 100%;
}

.titlesec4 {
  color: var(--color-blue);
  font-family: Inter;
  font-size: 20.8px;
  font-style: normal;
  font-weight: 700;
  padding: 0 27px 0 20px;
  line-height: 26px;
}

.subtitlesec4 {
  color: var(--color-gray-dark);
  font-family: Inter;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  padding: 0 34px 0 20px;
  line-height: 24px;
}

.btnsec4 {
  color: var(--color-gray-dark);
  font-family: Inter;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 10%;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-top: 30px;
  padding: 0 20px;
}