.listfooter{color: #FFF;
font-family: Inter;
font-size: 12.6px;position: relative;
cursor: pointer;
font-weight: 400;display: inline-block;
width: fit-content;
line-height: 32px; /* 253.968% */}


.listfooter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;   
  width: 100%;
  height: 2px;
  background-color: #FFF;transform: scaleX(0);
transform-origin: left;
  transition: transform 0.3s ease;
}


.listfooter:hover::after {
  transform: scaleX(1);
}
