.text-link-sec2 {
  color: var(--color-gray-dark);
  font-family: Inter;
  font-size: 14.9px;
  font-weight: 600;
  line-height: 14px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.text-link-sec2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--color-gray-dark-alpha);
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.text-link-sec2:hover::after {
  transform: scale(1);
}