.navigation-text-header{color: #FFF;
font-family: Inter;
font-size: 14.9px;position: relative;
font-weight: 600;  text-decoration: none;
  cursor: pointer;
line-height: 14px; /* 93.96% */}



.navigation-text-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;   
  width: 100%;
  height: 2px;
  background-color: #FFF;transform: scaleX(0);
transform-origin: left;
  transition: transform 0.3s ease;
}


.navigation-text-header:hover::after {
  transform: scaleX(1);
}

/* .navigation-text-link-header{color: #FFF;
font-family: Inter;
font-size: 14.9px;text-decoration: none;
font-weight: 600;
line-height: 14px; } */