.navigation-text-header{color: #FFF;
font-family: Inter;
font-size: 14.9px;
font-weight: 600;
line-height: 14px; /* 93.96% */}

/* .navigation-text-link-header{color: #FFF;
font-family: Inter;
font-size: 14.9px;text-decoration: none;
font-weight: 600;
line-height: 14px; } */