
.navigation-text-header {
  color: var(--color-white);
  font-family: Inter;
  font-size: 14.9px;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  line-height: 14px;
}

.navigation-text-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navigation-text-header:hover::after {
  transform: scaleX(1);
}


