.cardsec5{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
       border-top: 1px solid rgba(231, 231, 231, 0.9);
       border-bottom: 1px solid rgba(231, 231, 231, 0.9);
    background: #FFF;
}
.imgsec5{
    width: 350.05px;
height: 196.9px;
flex-shrink: 0;
}
.sec5-div{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;



}
.sec5-text{
    color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.sec5-title{
    color: #1858A8;
font-family: Inter;
font-size: 20.8px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
}

