.cardsec5{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
       border-top: 1px solid rgba(231, 231, 231, 0.60);
       border-bottom: 1px solid rgba(231, 231, 231, 0.60);
    background: #FFF;
}