.cardsec5 {
      width: 978px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 30px;
  border-top: 1px solid var(--color-gray-light-strong);
  border-bottom: 1px solid var(--color-gray-light-strong);
  background: var(--color-white);
  transition: transform 0.3s ease;
  transform: scale(1);
  cursor: pointer;
}

.cardsec5:hover {
  border: 1px solid var(--color-blue);
  transform: scale(1.04);
}

.imgsec5 {
  width: 350.05px;
  height: 196.9px;
  flex-shrink: 0;
}

.sec5-div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.sec5-text {
  color: var(--color-gray-dark);
  font-family: Inter;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.sec5-text2 {
  color: var(--color-gray-dark);
  font-family: Inter;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;width: 102%;
}
.sec5-title {
  color: var(--color-blue);
  font-family: Inter;
  font-size: 20.8px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}