.sec6-img-div{
    width: 100%;
    height:410px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px ;

}
.sec6-div{
display: flex;
width: 443px;
height: 187px;
padding-bottom: 3458.328px;
flex-direction: column;
align-items: flex-start;
gap: 27px;
border-radius: 4px;
background: #FFF;
       border-top: 5px solid #F58420;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);

box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);
}
.sec6-title{
  color: #333;
font-family: Inter;
font-size: 20.8px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 125% */  
}

.sec6-text{
    color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
margin-bottom: 50px;
}