.sec8-div{
width: 20%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}
.sec8img{
    width: 154px;
height: 51px;
}
.sec8-text{
    color: #333;
font-family: Inter;
font-size: 17.4px;
font-style: normal;
font-weight: 700;
line-height: 28.08px; /* 161.379% */
}
.sec8-subtext{
   color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
margin-top: 10px; 
}